[Unit]
Description=Simple, efficient background processing for Ruby.
Requires=sidekiq.target systemd-networkd.service
After=sidekiq.target systemd-networkd.service
AllowIsolate=yes
